@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lora", serif;
}

/* Global Style */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex;
}

.text-primary {
  color: black;
}

.text-secondary {
  color: #9da09d;
}

.btn-primary {
  width: 150px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #f75e59;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  transition: all 0.1s ease;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #c7534f;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

.white {
  color: white;
}

header,
.about,
.stories,
.contact,
.footer {
  width: 100%;
}

/* Navigation */
header {
  height: 100vh;
  background-image: url("./img/ilya-pavlov-wbXdGS_D17U-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

.navigation {
  padding: 12px 20px;
}

.navigation .navbar {
  justify-content: space-between;
  position: relative;
}

.navigation .navbar span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .navbar span i {
  font-size: 20px;
  transform: scale(1.4);
  margin-top: 20px;
  margin-left: 10px;
}

.navigation .navbar .menu-toggle span {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: white;
}

header .hero {
  width: 100%;
  height: 80vh;
  position: relative;
  align-items: center;
  text-align: center;
}

header .hero .hero-content {
  color: white;
}

header .hero .hero-content h1 {
  color: white;
  font-size: 70px;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

header .hero .hero-content p {
  font-size: 18px;
}

/* About Section */
.about {
  height: 80vh;
  background-color: #ffffff;
  padding: 80px 0px;
}

.about .about-content {
  justify-content: space-between;
}
.about .about-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.about .about-content .box .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  margin-bottom: 60px;
}

.about .about-content .box span i {
  color: #f3694f;
  font-size: 45px;
}

.about .about-content .box h2 {
  margin-bottom: 60px;
}

.about .about-content .box p {
  max-width: 95%;
}

/* Section Stories */
.stories {
  width: 100%;
  height: 130vh;
  background-color: #fbfbfb;
  padding: 100px 0px;
}

.stories .stories-title {
  text-align: center;
  line-height: 35px;
}

.stories .stories-title p {
  color: #9da09d;
}

.stories .stories-content {
  margin: 50px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stories .stories-content .box {
  width: 400px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  background-color: black;
}

.stories .stories-content .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.stories .stories-content .box img:hover {
  transform: scale(1.12);
}

/* Section Contact */
.contact {
  height: 180vh;
  padding: 100px 0px;
}

.contact .contact-title {
  line-height: 35px;
  text-align: center;
}

.contact .contact-title p {
  color: #9da09d;
}

.contact .contact-body .maps {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  background: black;
}

.contact .contact-body .maps img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.contact .contact-body .form-message .form {
  margin-top: 70px;
  width: 60%;
}

.contact .contact-body .form-message .form-group {
  margin-bottom: 20px;
}

.contact .contact-body .form-message .form-group .form-control {
  padding: 20px;
  outline: none;
  border: none;
  background-color: #f1f5f8;
  border-radius: 4px;
  width: 100%;
}

.contact .contact-body .form-message .information {
  margin-top: 70px;
  width: 40%;
  padding: 0px 100px;
}

.contact .contact-body .form-message .information .address,
.email,
.phone {
  margin-bottom: 50px;
}

.contact .contact-body .form-message .information h3 {
  margin-bottom: 30px;
}

.contact .contact-body .form-message .information p {
  color: #9da09d;
  max-width: 184px;
}

/* Footer Section */
footer {
  width: 100%;
  height: 25vh;
  background-color: #333333;
  align-items: center;
}

.footer .footer-content {
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content span {
  color: white;
}

.footer .footer-content .graphberry-link {
  color: #a26360;
}

.footer .icon {
  width: 20%;
  justify-content: space-between;
}

.footer .icon .icon-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer .icon .icon-link:hover {
  background-color: white;
  color: black;
}
.footer .icon .icon-link:hover i {
  color: #333333;
}

@media screen and (max-width: 576px) {
  .btn-primary.w-100 {
    width: 100%;
  }

  .btn-primary {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }
  header {
    width: 100%;
  }

  header .hero .hero-content h1 {
    font-size: 30px;
  }

  header .hero .hero-content p {
    font-size: 15px;
  }

  .about .about-content {
    width: 100%;
    flex-direction: column;
  }

  .about {
    height: 220vh;
  }

  .about .about-content .box {
    width: 100%;
    margin-bottom: 30px;
  }

  .stories {
    height: 280vh;
  }
  .stories .stories-content .box {
    width: 100%;
    height: 200px;
    background-color: black;
  }

  .contact {
    height: 300vh;
  }

  .contact .contact-body .form-message {
    width: 100%;
  }
  .contact .contact-body .contact-content {
    flex-direction: column;
    width: 100%;
  }

  .contact .contact-body .form-message .form {
    width: 100%;
  }

  .contact .contact-body .form-message .information {
    width: 100%;
    padding: 0px;
  }

  .contact-content .form-group:nth-child(1) {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-content span {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-content .icon {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  .container {
    width: 750px;
  }

  .stories {
    height: 200vh;
  }

  .stories .stories-content {
    width: 100%;
  }

  .stories .stories-content .box {
    width: 47%;
  }

  .contact {
    height: 260vh;
  }

  .contact .contact-body .contact-content {
    flex-direction: column;
    width: 100%;
  }

  footer .footer-content .icon {
    width: 30%;
  }
  .contact .contact-body .form-message .form {
    width: 100%;
  }

  .contact .contact-body .form-message .information {
    width: 100%;
    padding: 0px;
  }

  .contact .contact-body .form-message .information p {
    width: 100%;
    max-width: none;
  }

  .contact .contact-body .form-message .information h3{
    margin-bottom: 20px;
  }

  .contact .contact-body .form-message .information .address,
  .contact .contact-body .form-message .information .email,
  .contact .contact-body .form-message .information .phone {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}
