@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/* Header */
header {
  width: 100%;
  height: 300px;
  background: black;
}

header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.5;
}
.d-flex {
  display: flex;
}

/* Sidebar */
aside {
  width: 30%;
  height: 800px;
  background: gray;
}

aside ul {
  margin: 10px;
  padding: 10px;
  height: 400px;
}

aside ul li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  border-radius: 5px;
}

aside ul li:hover {
  background-color: rgba(118, 197, 202, 0.959);
  transition: all 0.2s ease-in-out;
}

aside ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.bi {
  margin-right: 10px;
}

/* Main Section */
section {
  width: 70%;
  height: 800px;
  background: white;
}

section .article {
  margin: 10px;
  padding: 20px;
  text-align: justify;
}

section .article img {
  width: 40%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 20px black;
}

.form-control {
  width: 70%;
  height: 20px;
  border: none;
  outline: none;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn-primary {
  outline: none;
  border: none;
  width: 100px;
  height: 35px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #bee5bf;
  transition: all 0.6s ease;
}

.btn-primary:hover {
  background-color: #dff3e3;
  cursor: pointer;
}

/* Footer */
footer {
  width: 100%;
  height: 70px;
  background: rgb(112, 76, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dff3e3;
}

footer a {
  text-decoration: none;
  color: #dff3e3;
}
