@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lora', serif;
}

/* Global Style */
.container {
  padding: 0px 90px;
  margin: 0px auto;
}
.d-flex {
  display: flex;
}

.text-primary {
  color: black;
}

.text-secondary {
  color: #9da09d;
}

.btn-primary {
  width: 150px;
  height: 45px; 
  outline: none;
  border: none;
  background-color: #f75e59;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  transition: all 0.1s ease;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #c7534f;
}

.w-100 {
  width: 100%;
}

a {
  text-decoration: none;
}



h1, h2, h3{
  font-family: "Nunito", sans-serif;
}

.white {
  color: white;
}

header, .about, .stories, .contact, .footer{
  width: 100%;
}

/* Navigation */
header {
  height: 100vh;
  background-image: url("./img/ilya-pavlov-wbXdGS_D17U-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

.navigation {
  padding: 12px 20px;
}

.navigation .navbar {
  justify-content: space-between;
  position: relative;
}

.navigation .navbar span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .navbar span i {
  font-size: 20px;
  transform: scale(1.4);
  margin-top: 20px;
  margin-left: 10px;
}

.navigation .navbar .menu-toggle span {
  width: 20px;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: white;
}

header .hero .hero-content {
  padding-top: 60px;
  margin-top: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  color: white;
}

header .hero .hero-content h1 {
  color: white;
  font-size: 70px;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;

}

header .hero .hero-content p {
  margin-top: 7px;
  max-width: 70%;
  font-size: 18px;
}

/* About Section */
.about {
  height: 80vh;
  background-color: #ffffff;
  padding: 80px 0px;
}

.about .about-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.about .about-content .box .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #dedede;
  margin-bottom: 60px;
}

.about .about-content .box span i {
  color: #f3694f;
  font-size: 45px;
}

.about .about-content .box h2 {
  margin-bottom: 60px;
}

.about .about-content .box p {
  max-width: 95%;
}

/* Section Stories */
.stories {
  width: 100%;
  height: 150vh;
  background-color: #fbfbfb;
  padding: 100px 0px;
}

.stories .stories-title {
  text-align: center;
  line-height: 35px;
}

.stories .stories-title p {
  color: #9da09d;
}

.stories .stories-content {
  margin-top: 100px;
}
.stories .stories-content .box-wrapp-1,
.stories .stories-content .box-wrapp-2 {
  justify-content: space-between;
}
.stories .stories-content .box-wrapp-1 .image-box,
.stories .stories-content .box-wrapp-2 .image-box {
  width: 370px;
  height: 260px;
  margin-bottom: 40px;
  overflow: hidden;
}

.stories .stories-content .box-wrapp-1 .image-box img,
.stories .stories-content .box-wrapp-2 .image-box img {
  box-shadow: 1px 1px 5px #bababa;  
  width: 370px;
  height: 260px;
  object-fit: cover;
  transform: scale(1);
  display: block;
  transition: all 0.5s ease-in-out;
}
.stories .stories-content .box-wrapp-1 .image-box:hover img, .stories .stories-content .box-wrapp-2 .image-box:hover img {
  transform: scale(1.2);
}

/* Section Contact */
.contact {
  height: 180vh;
  padding: 100px 0px;
}

.contact .contact-title {
  line-height: 35px;
  text-align: center;
}

.contact .contact-title p{
  color: #9da09d;
}

.contact .contact-body .maps {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  background: black;
}

.contact .contact-body .maps img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.contact .contact-body .form-message .form {
  margin-top: 70px;
  width: 60%;
}

.contact .contact-body .form-message .form-group {
  margin-bottom: 20px;
}

.contact .contact-body .form-message .form-group .form-control {
  padding: 20px;
  outline: none;
  border: none;
  background-color: #f1f5f8;
  border-radius: 4px;
  width: 100%;
}

.contact .contact-body .form-message .information {
  margin-top: 70px;
  width: 40%;
  padding: 0px 100px;
}

.contact .contact-body .form-message .information .address, .email, .phone {
  margin-bottom: 50px;
}

.contact .contact-body .form-message .information  h3{
  margin-bottom: 30px;
}

.contact .contact-body .form-message .information p{
  color: #9da09d;
  max-width: 184px;
}

/* Footer Section */
.footer {
  height: 25vh;
  background-color: #333333;
  padding: 70px 0px;
}

.footer .footer-content {
  justify-content: space-between;
}

.footer .footer-content span {
  color: white;
}


.footer .footer-content .graphberry-link{
  color: #a26360 ;
}

.footer .icon .icon-link{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border:  1px solid white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  transition: all 0.3s ease;
}

.footer .icon .icon-link:hover{
  background-color: white;
  color: black;
}
.footer .icon .icon-link:hover i {
  color: #333333;
}
